!!!
html
  head
    title= title + ' | Causemap'
    link(
      rel='stylesheet',
      href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700'
    )
    link(
      rel='stylesheet',
      href='http://fonts.googleapis.com/css?family=PT+Sans:400italic,400,700,700italic'
    )
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
